body {
  background: blanchedalmond;
  margin: 0;
}

* {
  border: 1px solid white;
}

.container {
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}

.a {
  background-color: blue;
  flex-grow: 1;
  max-width: 100%;
}

.b {
  min-height: 60vh;
  background-color: black;
  flex-grow: 4;
}

.c {
  background-color: teal;
  flex-grow: 1;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
}       
  .a{
    flex-basis: 100%;
    max-width: 100%;
  }
  .c{
    max-width: 100%;
  }
}